html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#cvsdiv {
  background-color: #fffff0;
  margin: 30px;
  border: 3px solid green;
  padding: 0px;
  border: 1px solid red;
  display: block;
  width: 400px;
}

#text1 {
  margin: 30px;
  
  width: 400px;
}
