html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#cvsdiv {
  background-color: #d4ffff; /*sky-blue */
  margin: 30px;
  padding: 1px;
  border: 1px solid red;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  
}#description{
  background-color: #d4ffff;
  margin: 30px;
  padding: 1px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

#text1 {
  margin: 30px;
  
  width: 700px;
}
